header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    top: 15px;
    animation: 6s mexendo infinite;
    position: absolute;
    z-index: 2;
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 12dvh;
        width: 95%;
        background-color: $color6;
        border-radius: 25px;
        backdrop-filter:blur(1dvw);
        img{
            width: 5dvh;
            transition: .5s all cubic-bezier(0.19, 1, 0.22, 1);
            &:hover{
                transform: translateY(-1dvh);
            }
            &:active{
               scale: 1.15;
            }
        }
    }
}

.seta{
    background-color: $color5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    position: fixed;
    right: 2vw;
    top: 10vh;
    z-index: 3;
    opacity: 0;
    animation: 0.5s aparecer forwards;
	animation-timeline: scroll();
    animation-range: entry 20% cover 30%;
    img{
        animation:  5s mexendo infinite;
        width: 6vh;
    }
}

@keyframes aparecer {
    to{
        opacity: 1;
        display: flex;
    }from{
        opacity: 0;
        display: none;
    }
}

@keyframes mexendo{
    0%{
        transform: translateY(0dvw);
    }50%{
        transform: translateY(.5dvw);
    }
    100%{
        transform: translateY(0dvw);
    }
}