.top{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: -1;
    top: 0;
    h1{
        position: absolute;
        top: 30vh;
        left: 10vw;
        font-weight: 800;
        color: $color6;
        font-size: 8dvw;
    }
    img{
        width: 100dvw;
        height: 100dvh;
    }
}
.middle{
    margin-top: 100dvh;
    background-color: $color6;
    border-radius: 10vw 10vw 0 0;
    backdrop-filter: blur(1vw);
    img{
        border-radius: 30px;
        width: 100%;
    }
}

.text{

    padding: 4vw 7vw;
}