header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  top: 15px;
  animation: 6s mexendo infinite;
  position: absolute;
  z-index: 2;
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 12dvh;
  width: 95%;
  background-color: rgba(14, 11, 41, 0.8901960784);
  border-radius: 25px;
  backdrop-filter: blur(1dvw);
}
header .nav img {
  width: 5dvh;
  transition: 0.5s all cubic-bezier(0.19, 1, 0.22, 1);
}
header .nav img:hover {
  transform: translateY(-1dvh);
}
header .nav img:active {
  scale: 1.15;
}

.seta {
  background-color: #0e0b29;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  position: fixed;
  right: 2vw;
  top: 10vh;
  z-index: 3;
  opacity: 0;
  animation: 0.5s aparecer forwards;
  animation-timeline: scroll();
  animation-range: entry 20% cover 30%;
}
.seta img {
  animation: 5s mexendo infinite;
  width: 6vh;
}

@keyframes aparecer {
  to {
    opacity: 1;
    display: flex;
  }
  from {
    opacity: 0;
    display: none;
  }
}
@keyframes mexendo {
  0% {
    transform: translateY(0dvw);
  }
  50% {
    transform: translateY(0.5dvw);
  }
  100% {
    transform: translateY(0dvw);
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 4s mexendo infinite;
}
footer .footer {
  background-color: #0e0b29;
  color: #fffeef;
  border-radius: 25px;
  padding: 2%;
  display: flex;
  justify-content: space-around;
}
footer .footer .esquerda {
  display: flex;
  width: 40%;
  margin-left: 2dvw;
  justify-content: space-between;
  align-items: center;
}
footer .footer .esquerda a {
  color: #fffeef;
  text-decoration: none;
  font-size: 70%;
}
footer .footer .esquerda img {
  height: 15dvw;
  border-radius: 2dvw;
}
footer .footer .center {
  width: 1dvw;
  border-radius: 5px;
  background-color: #fffeef;
}
footer .footer .direita {
  width: 40%;
}
footer .footer .direita p {
  font-size: 68%;
  font-family: system-ui;
  text-align: justify;
}

.top {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: -1;
  top: 0;
}
.top h1 {
  position: absolute;
  top: 30vh;
  left: 10vw;
  font-weight: 800;
  color: rgba(14, 11, 41, 0.8901960784);
  font-size: 8dvw;
}
.top img {
  width: 100dvw;
  height: 100dvh;
}

.middle {
  margin-top: 100dvh;
  background-color: rgba(14, 11, 41, 0.8901960784);
  border-radius: 10vw 10vw 0 0;
  backdrop-filter: blur(1vw);
}
.middle img {
  border-radius: 30px;
  width: 100%;
}

.text {
  padding: 4vw 7vw;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: #0e0b29;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #fdfbb3;
  box-shadow: 0 0 10px 10px #3b0032;
  border-radius: 12px;
}

.container {
  scroll-snap-align: end;
  color: #fffeef;
  text-align: justify;
}

@media only screen and (max-width: 2000px) {
  body {
    font-size: 2vw;
  }
  .cima {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cima .que {
    height: 100%;
    width: 60%;
  }
  .cima .images {
    width: 25vw;
  }
}
@media only screen and (max-width: 700px) {
  body {
    font-size: 4.5vw;
  }
  .cima {
    display: block;
  }
  .cima .que {
    width: 100%;
  }
  .cima .images {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
